html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* header {
    background-image: url('../img/nav/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

header > img {
    display: block;
    max-width: 90vw;
    margin-inline: auto;
}

.animate-logo {
    animation: reduceSizeImgLogoSuperior 3s ease forwards;
}

@keyframes reduceSizeImgLogoSuperior {
    from {
        max-height: 80vh;
        margin-top: 10vh;
    }
    to {
        max-height: 15vh;
        margin-top: 2vh;
    }
}

/* nav {
    background-image: url('../img/nav/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
} */

nav ul {
    height: 6rem;
    background-color: #495e5729;
    text-align: center;
    padding-inline-start: 0px;
}

nav li {
    display: inline-block;
}

/* nav li a {
    color: #f4f4f4;
    background-color: #495e5729;
    border-radius: 20px;
} */

main{
    margin-left: 5%;
    margin-right: 5%;
}

section {
    display: flex;
    margin-top: 5%;
}

article {
    flex: 1;
    margin-inline: 10px;
    padding-inline: 15px;
}

.card-menu {
    background-color: #495e5729;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;;
}

.card-menu:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}

.oferta {
    width: 100%;
    background-color: #495e57;
    border: 3px solid #495e57;
    border-radius: 15px;
}

footer {
    background-color: #495e5729;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

footer > div {
    flex: 1;
    text-align: center;
}

footer > div > img {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

footer > div p {
    display: inline-block;
}

.textoRodape {
    font-size: 0.8rem;
}


nav, main, footer {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s; /* Atraso de 4 segundos para começar no último segundo da animação da imagem */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}