html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header > img {
    display: block;
    max-width: 90vw;
    margin-inline: auto;
}

.animate-logo {
    animation: reduceSizeImgLogoSuperior 3s ease forwards;
}

@keyframes reduceSizeImgLogoSuperior {
    from {
        max-height: 80vh;
        margin-top: 10vh;
    }
    to {
        max-height: 15vh;
        margin-top: 2vh;
    }
}

nav {
    position: relative;
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/nav/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

nav ul, nav li {
    position: relative;
    z-index: 1;
}

nav ul {
    height: 6rem;
    text-align: center;
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #f4f4f4;
    background-color: #495e57;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.3);
}

main{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}

.oferta {
    width: 100%;
    background-color: #495e57;
    border: 3px solid #495e57;
    border-radius: 15px;
    cursor: pointer;
}

article {
    flex: 1 1 200px;
    margin: 10px;
    padding-inline: 15px;
}

.oferta article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    color: #f4f4f4;
}

.oferta .card-promocao {
    font-family: Monospace, Verdana, sans-serif;
    font-size: 3rem;
    margin: 20px 0;
}

.oferta .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.oferta .content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 90px;
}

.oferta .content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* color: #f4f4f4; */
}

@media (min-width: 768px) {
    .oferta .content {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .oferta .content img {
        max-width: 50%;
        margin: 0 20px 0 0;
        /* clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%); */
        /* clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%); */
        /* clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
        border-radius: 90px;
    }

    .oferta .content .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.card-opcao {
    background-color: #d8dbda;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;;
}

.card-opcao:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}

footer {
    background-color: #d8dbda;
    width: 100%;
    display: flex;
    align-items: center;
}

footer > div {
    flex: 1;
    text-align: center;
}

footer > div > img {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

footer > div p {
    display: inline-block;
}

.textoRodape {
    font-size: 0.8rem;
}


nav, main, footer {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s; /* Atraso de 4 segundos para começar no último segundo da animação da imagem */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}